<!-- Footer -->

<footer id="footer" class="sm-padding bg-dark">

  <!-- Container -->
  <div class="container">
    <!-- Row -->
    <div class="row">
      <div class="col-md-12">
        <!-- footer logo -->
        <div class="footer-logo">
          {% load staticfiles %} {% load static %}
          <a href="index.html"><img src="{% static "images/logo-alt.png" %}" alt="logo"></a>
        </div>
        <!-- /footer logo -->

        <!-- footer copyright -->
        <div class="footer-copyright">
          <p>Copyright © Basdat 2018 A-14</p>
        </div>
        <!-- /footer copyright -->

      </div>

    </div>
    <!-- /Row -->

  </div>
  <!-- /Container -->
</footer>
<!-- /Footer -->
