
<nav id="nav" class="navbar nav-transparent fixed-nav">
  <div class="container">
    <div class="navbar-header">
      <!-- Logo -->
      <div class="navbar-brand">
        <a href="index.html">
          {% load staticfiles %} {% load static %}
          <img class="logo" src="{% static "images/logo.png" %}" alt="logo">
          <img class="logo-alt" src="{% static "images/logo-alt.png" %}" alt="logo">
        </a>
      </div>
      <!-- /Logo -->
      <!-- Collapse nav button -->
      <div class="nav-collapse">
        <span></span>
      </div>
      <!-- /Collapse nav button -->
    </div>

    <!--  Main navigation  -->
    <ul class="main-nav nav navbar-nav navbar-right">
      <li><a href="#home">Home</a></li>
      <li><a href="#service">Beasiswa</a></li>
      <li><a href="#pricing">Pengumuman</a></li>
      <li><a href="#footer">About</a></li>
    </ul>
    <!-- /Main navigation -->

  </div>
</nav>
