{% extends "login/layout/base.html" %}
{% load staticfiles %} {% load static %}
{% block content %}
<header id="home">
  <!-- Background Image -->
  <div class="bg-img" style="background-image: url('{% static "images/background1.jpg" %}');">
    <div class="overlay"></div>
  </div>

  <div class="home-wrapper">
    <div class="container">
      <div class="row">

        <!-- home content -->
        <div class="col-md-10 col-md-offset-1">
          <div class="home-content">
            <h1 class="green-text">Define Your Future</h1>
            <p class="white-text">Morbi mattis felis at nunc. Duis viverra diam non justo. In nisl. Nullam sit amet magna in magna gravida vehicula. Mauris tincidunt sem sed arcu. Nunc posuere.
            </p>
            <a href="{% url 'login:loginpage' %}"><button class="main-btn">Log in</button></a>
            <a href="{% url 'register:index' %}"><button class="white-btn">Sign up</button></a>
          </div>
        </div>
        <!-- /home content -->

      </div>
    </div>
  </div>
  <!-- /home wrapper -->

</header>
<!-- /Header -->

<!-- Service -->
<div id="service" class="section md-padding">
  <div class="section-header text-center">
  <h2 class="title"> Beasiswa </h1>




  <!-- Container -->
</div>

  <div class="container">

<div id="products" class="row list-group">

</div>
  </div>
  <!-- /Container -->

</div>
<div class="pagin text-center">
<nav aria-label="paging">
<ul class="pagination">
  <li class="page-item"><a class="page-link" href="#"><<</a></li>
  <li class="page-item"><a class="page-link" href="#">1</a></li>
  <li class="page-item"><a class="page-link" href="#">2</a></li>
  <li class="page-item"><a class="page-link" href="#">3</a></li>
  <li class="page-item"><a class="page-link" href="#">>></a></li>
</ul>
</nav>
</div>
<!-- /Service -->

<!-- Pricing -->
<div id="pricing" class="section md-padding">


<!-- Container -->
<div class="container">


  <!-- Row -->
  <div class="row">

  </div>
  <!-- Row -->

</div>
<!-- /Container -->

</div>
<div id="back-to-top"></div>
<!-- /Back to top -->

<!-- Preloader -->
<div id="preloader">
  <div class="preloader">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
</div>

{% endblock %}
{% block javascript %}
<script src="{% static 'js/main.js' %}"></script>
{% endblock %}
