{% load staticfiles %} {% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- bootstrap csss -->
  <link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700%7CVarela+Round" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
  <link type="text/css" rel="stylesheet" href="{% static 'css/login.css' %}" />
  <title>
    {% block title %} Log in {% endblock %}
  </title>



	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>

<body>
	<div class="container bg-img"style="background-image: url('{% static "images/backgroundlogin.jpg" %}');">
  <div class="banner">


  <div class="form-group">
		<h1>Login</h1>
		<form action="{% url 'login:login' %}" method="POST">
			{% csrf_token %}
      <input placeholder='Username' name="username" required>
      <input type='password' placeholder='Password' name="password" required>

      <button class="btn">Login</button>
      <a href= "{% url 'register:index' %}" class="regist">Register</a>
		</form>


  </div>
</div>
	<div class="banner2" >


	</div>
</div>


</body>

</html>
