{% load staticfiles %} {% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- bootstrap csss -->
  <link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700%7CVarela+Round" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
  <link type="text/css" rel="stylesheet" href="{% static 'css/style2.css' %}" />
  <link type="text/css" rel="stylesheet" href="{% static 'css/mahasiswa.css' %}" />

</head>
<body>
  <nav id="nav" class="navbar nav-black">
    <div class="container">
      <div class="navbar-header">
        <!-- Logo -->
        <div class="navbar-brand">
          <a href="index.html">
            <img class="logo" src="{% static "images/logo-alt.png" %}" alt="logo">
          </a>
        </div>
        <!-- /Logo -->

        <!-- Collapse nav button -->
        <div class="nav-collapse">
          <span></span>
        </div>
        <!-- /Collapse nav button -->
      </div>

      <ul class="main-nav nav navbar-nav navbar-right">
        {% if request.session.role == 'mahasiswa' %}
        <li><a class="navtext" href="#home">Home</a></li>
        <li><a class="navtext" href="#pricing">Hasil Seleksi</a></li>
        <li><a class="navtext" href="{% url 'login:logout' %}">Log out</a></li>


        {% elif request.session.role == 'donatur' %}
        <li><a class="navtext" href="#home">Beasiswa</a></li>
        <li><a class="navtext" href="#pricing">Buat beasiswa</a></li>
        <li><a class="navtext" href="#pricing">Buat pengumuman</a></li>
        <li><a class="navtext" href="{% url 'login:logout' %}">Log out</a></li>


        {% elif request.session.role == 'admin' %}
        <li><a class="navtext" href="#home" >Tempat wawancara</a></li>
        <li><a class="navtext" href="#pricing">Buat tempat wawancara</a></li>
				<li><a class="navtext" href="#pricing">Buat pengumuman</a></li>
        <li><a class="navtext" href="{% url 'login:logout' %}">Log out</a></li>

        {% endif %}
      </ul>


      <!-- /Main navigation -->

    </div>
  </nav>
  <div class="containerheader">

    <div class="banner" style="background-image: url('{% static "images/fog.jpg" %}');">
      <img class="rounded-img" src='{% static "images/perso1.jpg" %}' >
      <h3>{{request.session.username}}</h3>
      <h5>{{request.session.role}}<h5>

    </div>

    <div class=banner2>
      {% for beasiswa in list_beasiswa %}
      <div class="list">
        <img src="http://placehold.it/200x50/000/fff" alt="" />
        <div class="item">
            <h4> {{beasiswa.nama}} </h4>
            <p> Waktu tutup :{{beasiswa.tgl_tutup_pendaftaran}} </p>
            <p>Status : {{beasiswa.status}} </p>
            <p> Pendaftar : {{beasiswa.jumlah_pendaftar}}</p>
            <a class="btn" href="http://www.jquery2dotnet.com">Detail</a>
        </div>
      </div>
      {% endfor %}


    </div>

  </div>
  {% block javascript %}
  <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/owl.carousel.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/jquery.magnific-popup.js' %}"></script>
  {% endblock %}

</body>

</html>
