*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

html {
  height: 100vh;
  overflow: hidden;
}

body {
    font-family: 'Varela Round', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    overflow-x: hidden;
    color: #868F9B;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 20px;
    color: #333333;
}

h1 {
  text-align: center;
    font-size: 54px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 21px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 16px;
}

a {
    color: #6195FF;
    text-decoration: none;
    -webkit-transition: 0.2s opacity;
    transition: 0.2s opacity;
}

a:hover, a:focus {
    text-decoration: none;
    outline: none;
    opacity: 0.8;
    color: #6195FF;
}
.container{
  display: flex;
  flex-direction: row;
  /* align-content: stretch; */
  /* justify-content: space-between; */
  /* background: #1C1D21; */
  height:100vh;
  width:100%;



}
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 50%;
  flex-direction: row;
  background: rgba(255, 255, 254, 0.9);
  width: 100vh;
  margin-left: -15px;
  height:100;
}

.form-group {
  margin: 200px;
  display: flex;
  flex-direction: column;
  background: white;
  padding: 50px;
  box-shadow: 2px 2px 4px 0
  rgba(0,0,0,0.18);
}
.banner2{

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width:100%;
  background: transparent;

}


.btn{
  background: #7F8BD0;
  color: #FFFFFF;
  border-color: #7F8BD0;
  float: right;
  margin-top:12px;
  padding: 10px 10px;
  border: 2px solid transparent;
  border-radius: 100px;
  -webkit-transition: 0.2s opacity;
  transition: 0.2s opacity;
}

.btn:hover{
    opacity: 0.8;
}
input {
  border: none;
  width: 200px;
  height: 30px;
  margin: 20px;
  background: transparent;
  border-bottom: solid 2px #333;
  outline: none;
}

input:focus {
  border-bottom: solid 3px red;
}

.regist {
  margin-top: 10px;
  align-self: flex-end;
}

.bg-img {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

}

.bg-img .overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: .8;
    background: #1C1D21;
}
