{% extends "register/layout/base.html" %}
{% load staticfiles %} {% load static %}
{% block content %}
<div id="form-register">
<h1>Register</h1>
<div class="select1">
<select id="select">

  <option value=".mhs">Mahasiswa</option>
  <option value=".yayasan">Donatur Yayasan</option>
  <option value=".individu">Donatur Individual</option>
</select>
<button class="submit">Submit</button>
</div>

<div class="mhs form-group">
<input placeholder="Username">
<input placeholder="Password">
<input placeholder="NPM">
<input placeholder="Email">
<input placeholder="Nama Lengkap">
<input placeholder="Nomor Telepon">
<input placeholder="Alamat tempat tinggal">
  <input placeholder="Alamat domisili">
<input placeholder="Instansi bank">
 <input placeholder="Nomor Rekening">
  <input placeholder="Nama Pemilik">
<button class="btn">Sign up</button>
</div>

<div class="yayasan form-group">
<input placeholder="Username">
<input placeholder="Password">
<input placeholder="Nomor Identitas">
<input placeholder="Nomor SK Yayasan">
<input placeholder="Email">
<input placeholder="Nama Yayasan">
<input placeholder="Nomor SK Yayasan">
<input placeholder="Email">
<input placeholder="Nama Yayasan">
<input placeholder="Nomor Telpon Contact Person">
<input placeholder="NPWP">
<input placeholder="Alamat Yayasan">
<button class="btn">Sign up</button>
</div>

<div class="individu form-group">
<input placeholder="Username">
<input placeholder="Password">
<input placeholder="Nomor Identitas">
<input placeholder="NIK">
<input placeholder="Email">
<input placeholder="Nama Lengkap">
<input placeholder="NPWP">
  <input placeholder="No Telepon">
  <input placeholder="Alamat Lengkap">
<button class="btn">Sign up</button>
</div>
</div>

{% endblock %}
{% block javascript %}
<script src="{% static 'login/js/main.js' %}"></script>
{% endblock %}
