{% load staticfiles %}
{% load static %}
<!DOCTYPE html>

<script type="text/JavaScript" src="static/js/DONATUR.js"></script>
<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">

<style>
		body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
		.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
		.fa-anchor,.fa-coffee {font-size:200px}

  .button {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 10px;
  padding: 13px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

		</style>

<nav class='main hList inactive'>
  <div class="tab active"><span>PAKET
    BARU</span></div><!--
  --><div class="tab"><span>BEASISWA BARU</span></div>
</nav>

<page id="home">
  <span class="pagetag">DONATUR</span>
  <section class="header">
    <div>
      <h2><span>MEMBUAT BEASISWA BARU</span></h2>
      <h5>BY DONATUR</h5>
    </div>
    <div class='logo'></div>
  </section>
  <section id="grid_wrapper" class="init">
    <card>
      <div>
        <span>PAKET BARU</span>
      </div>
    </card>
    <card>
      <div>
        <span>BEASISWA BARU</span>
      </div>
    </card>
  </section>
</page>

<div id="content_wrapper" class='inactive'>
  <button class="close">&#xf00d;</button>

 <div class='content'>
    <section>
      <h2>Buat Paket Beasiswa Baru</h2>
      <form class="form-horizontal" action="/action_page.php">
			<div class="form-group">
			  <label class="control-label col-sm-2" for="code">Kode:              </label>
			  <div class="col-sm-10">
				<input type="code" class="form-control" id="code" placeholder="eg: 13" name="code">
			  </div>
			</div>

			<div class="form-group">
			  <label class="control-label col-sm-2" for="name">Nama Paket Beasiswa:             </label>
			  <div class="col-sm-10">
				<input type="name" class="form-control" id="name" placeholder="eg: beasiswa tugas akhir Hand, Crona" name="name">
			  </div>
			</div>


        <div class="form-group">
			  <label class="control-label col-sm-2" for="code"> Jenis Paket Beasiswa:</label>
  <select>
  <option value="volvo">Prestasi Akademik</option>
  <option value="saab">Bantuan Belajar</option>
  <option value="opel">Tugas Akhir</option>
    <option value="audi">Others..</option>
    </select>
			</div>

         <div class="form-group">
			  <label class="control-label col-sm-2" for="desc">Deskripsi:              </label>
			  <div class="col-sm-10">
				<input type="text" class="form-control" id="desc" placeholder="eg: keterangan beasiswa" name="desc">
			  </div>
			</div>

			<div class="form-group">
			  <label class="control-label col-sm-2" for="syarat">Syarat Beasiswa:             </label>
			  <div class="col-sm-10">
				<input type="text" class="form-control" id="syarat" placeholder="eg: persyaratan1,2,3..." name="syarat">
			  </div>
			</div>

		    <div class="form-group">
			  <div class="col-sm-offset-2 col-sm-10">
				 <button class="button" style="vertical-align:middle"><span>Submit </span></button>
			  </div>
			</div>
		  </form>
		</div>
    </section>

  <div class='content'>
    <section>
      <h2>Tambah Beasiswa Baru Dari Paket</h2>
      <form class="form-horizontal" action="/action_page.php">
			<div class="form-group">
			  <label class="control-label col-sm-2" for="code">Kode Beasiswa:             </label>
			 <select>
  <option value="volvo">1</option>
  <option value="saab">2</option>
  <option value="opel">3</option>
  <option value="audi">4</option>
  <option value="audi">5</option>
  <option value="audi">6</option><option value="audi">7</option><option value="audi">8</option><option value="audi">9</option><option value="audi">10</option><option value="audi">11</option><option value="audi">12</option><option value="audi">13</option><option value="audi">14</option><option value="audi">15</option><option value="audi">16</option><option value="audi">17</option><option value="audi">18</option><option value="audi">19</option><option value="audi">20</option><option value="audi">21</option><option value="audi">22</option><option value="audi">23</option><option value="audi">24</option><option value="audi">25</option><option value="audi">26</option><option value="audi">27</option><option value="audi">28</option><option value="audi">29</option><option value="audi">30</option><option value="audi">31</option><option value="audi">32</option><option value="audi">33</option><option value="audi">34</option><option value="audi">35</option><option value="audi">36</option><option value="audi">37</option><option value="audi">38</option><option value="audi">39</option><option value="audi">40</option><option value="audi">41</option><option value="audi">42</option><option value="audi">43</option><option value="audi">44</option><option value="audi">45</option><option value="audi">46</option><option value="audi">47</option><option value="audi">48</option><option value="audi">49</option><option value="audi">50</option>
</select>
			</div>

			<div class="form-group">
			  <label class="control-label col-sm-2" for="number">Nomor Urut:             </label>
			  <div class="col-sm-10">
				<input type="number" class="form-control" id="name" placeholder="eg: 1" name="number">
			  </div>
			</div>

			<div class="form-group">
			  <label class="control-label col-sm-2" for="datetime">Tanggal Mulai Pendaftaran:             </label>
			  <div class="col-sm-10">
				<input id= "date" type="date" class="form-control" id="datetime" placeholder="eg: 13 Mei 2013" name="datetime">
			  </div>
			</div>

			<div class="form-group">
			  <label class="control-label col-sm-2" for="datetime2">Tanggal Tutup Pendaftaran:             </label>
			  <div class="col-sm-10">
				<input id= "date" type="date" class="form-control" id="datetime2" placeholder="eg: 13 Mei 2023" name="datetime2">
			  </div>
			</div>

			<div class="form-group">
			  <div class="col-sm-offset-2 col-sm-10">
				<button class="button" style="vertical-align:middle"><span>Submit</span></button>
			  </div>
			</div>
		  </form>
		</div>

  </div>
</div>
<div id="footer">
  <span style="display:block;font-size:0.9em;line-height:55px;"><span style="display:inline-block;">&copy; <span style="font-family:'Titillium Web';font-weight:900;letter-spacing:0.06em">Faculty of Computer Science, University of Indonesia</span> SIMBION A-14</span></span>
  <span style="display:block;font-size:0.7em;line-height:30px;margin-top:-25px;color:rgba(255,255,255,0.15)">&lang; --TK4 BASDAT A-- &rang;<span>
</div>
