{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="en" >

<head>

  <meta charset="UTF-8">
  <title>Mendaftar Calon Penerima Beasiswa</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/fitur5.css' %}" />



</head>
<div class="table-beasiswa">
   <div class="header">List Beasiswa</div>

   <table cellspacing="0">
      <tr>
		 <th>Logo</th>
         <th>Nomor</th>
         <th>Nama Beasiswa</th>
         <th>Waktu Tutup Pendaftaran</th>
         <th>Status Beasiswa</th>
         <th>Jumlah Pendaftar</th>
      </tr>

      <tr>
         <td><img src="https://previews.123rf.com/images/ahasoft2000/ahasoft20001704/ahasoft2000170400406/75278349-global-company-branches-vector-icon-flat-bicolor-eco-green-and-gray-symbol-pictogram-is-isolated-on-.jpg"></td>
         <td>50</td>
         <td>Beasiswa Tugas Akhir Turcotte</td>
         <td>26 Oktober 2013</td>
		 <td>Aktif</td>
         <td>0</td>
      </tr>

      <tr>
         <td><img src="https://thumbs.dreamstime.com/b/advocacy-legal-center-vector-icon-justice-scales-juridical-emblem-advocate-attorney-office-heraldic-laurel-85586999.jpg"></td>
         <td>44</td>
         <td>Nomor_Prestasi Schinner, Emmirech</td>
         <td>16 Agustus 2014</td>
		 <td>Aktif</td>
         <td>0</td>
      </tr>

      <tr>
         <td><img src="https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX24561300.jpg"></td>
         <td>38</td>
         <td>Nomor_Bantun Belajar Cassin, Leannon</td>
         <td>20 September 2016</td>
		 <td>Aktif</td>
         <td>0</td>
      </tr>

   </table>
</div>
</html>
