{% load staticfiles %} {% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- bootstrap csss -->
  <link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700%7CVarela+Round" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
  <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}" />


  <title>
    {% block title %} SIMBION {% endblock %}
  </title>
</head>

<body>
  <header>
    {% include "login/partials/header.html" %}
  </header>
  <content>
    {% block content %}
    <!-- content goes here -->
    {% endblock %}
  </content>
  <footer>
    <!-- TODO Block Footer dan include footer.html -->
    {% block footer %} {% include "login/partials/footer.html" %} {% endblock %}
  </footer>
  <!-- Jquery n Bootstrap Script -->

  <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/owl.carousel.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/jquery.magnific-popup.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
  {% block javascript %} {% endblock %}
</body>
</html>
