.btn{
  margin-left:390px;

}

.containerheader{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  background: r#50E3C2;
  min-height:100vh;

}

.banner2{
  display: flex;
  flex-direction:column;

}
.list{
  display: flex;
  flex-direction:row;
  width: 700px;
  margin: 3px;
  background: white;
  box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.18);
  padding:20px;

}
.item{
  display: flex;

  flex-direction: column;
  margin-left:20px;

}
.banner>h3{
  padding-top: 35px;
}

.banner{
background-image: cover;
background-position: center;
background-size: cover;
background-attachment: fixed;
margin-top: 50px;
display: flex;
flex-direction:column;
align-items: center;
justify-content:center;
height: 150px;
width: 700px;
 padding-bottom:30px;
margin-bottom:10px;
  box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.18);
}

.rounded-img{
  border-radius:100%

}
