
body {
    font-family: 'Varela Round', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    overflow-x: hidden;
    color: #868F9B;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 20px;
    color: #333333;
}

h1 {
    font-size: 36px;
    color:#50E3C2;

}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 21px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 16px;
}

a {
    color: #6195FF;
    text-decoration: none;
    -webkit-transition: 0.2s opacity;
    transition: 0.2s opacity;
}

a:hover, a:focus {
    text-decoration: none;
    outline: none;
    opacity: 0.8;
    color: #6195FF;
}
#form-register{
  background-color: #1C1D21;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;


}
.submit{
  margin-left:15px;
}

.form-group {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 255);
padding: 30px 70px;
box-shadow: 2px 2px 4px 0
rgba(0,0,0,0.18);
  border-radius:9px


}
.mhs{
  display: flex;
  flex-direction:column;
}

.yayasan{
  display: none;
}

.individu{
  display: none;
}
input {
  border: none;
  width: 250px;
  height: 30px;
  margin: 10px;
  background: transparent;
  border-bottom: solid 1px #333;
  outline: none;
}

input:focus {
  border-bottom: solid 1px #50E3C2;
}

.btn{
  background: #7F8BD0;
  color: #FFFFFF;
  border-color: #7F8BD0;
  float: right;
  margin-top:12px;
  padding: 10px 10px;
  border: 2px solid transparent;
  border-radius: 100px;
  -webkit-transition: 0.2s opacity;
  transition: 0.2s opacity;
}

.btn:hover{
    opacity: 0.8;
}

.bg-img {

position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

}

.bg-img .overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: .8;
    background: #1C1D21;
}
